# Arquivos temporários criados por editor de texto
/**/*.java~
.gitignore~
*.*~

# Arquivos compilados 
/**/*.class
/**/bin/

# Arquivos Eclipse
# /.metadata/
# /**/.metadata/
# /RemoteSystemsTempFiles/
# /**/RemoteSystemsTempFiles/

# Versionamento de arquivos local do Eclipse
/**/.metadata/.plugins/org.eclipse.core.resources/.history

# Versionamento usando MyLyn
/**/.mylyn
